@{
    var path = Context.Request.Path.Value ?? "";
    var isTestPath = path.StartsWith("/test", StringComparison.OrdinalIgnoreCase);
    var userId = Context.Request.Cookies["userId"];
}

@if (isTestPath && !string.IsNullOrEmpty(userId))
{
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-1">
            <div class="container-fluid">
                <p class="mb-0">被験者番号：@userId</p>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">解答する</button>
            </div>
        </nav>
    </header>
@* <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> *@
}