@{
    ViewData["Title"] = "コードの可視化";
}

<div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="toggleEditor" checked onchange="updateView()">
    <label class="form-check-label" for="toggleEditor">エディターを表示</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="toggleVisual" checked onchange="updateView()">
    <label class="form-check-label" for="toggleVisual">可視化を表示</label>
</div>

<div class="row">
    <div class="col-4">
        <div id="code-editor"></div>
    </div>
    <div class="col-8">
        <!-- アップロード用 -->
        <div id="uploadSection" style="display: none;">
            <div class="d-flex justify-content-center align-items-center vh-100">
                <div class="text-center">
                    <h2 class="mb-5">コードを書くかファイルをアップロードしてください。</h2>
                    <form id="uploadForm">
                        <input type="file" id="csFile" name="csFile" accept=".cs" required />
                        <button type="submit" class="btn btn-primary" id="uploadButton">アップロード</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- 可視化用 -->
        <div id="legend" class="legend-box position-fixed bottom-0 end-0 m-3 p-3 bg-white border rounded shadow d-none"></div>
        <div class="position-relative" id="visualSection" style="width: 8000px; height: 6000px;">
            <svg id="graph-layer" class="position-absolute top-0 start-0 w-100 h-100" width="800" height="600"></svg>
            <svg id="pad-layer" class="position-absolute top-0 start-0 w-100 h-100" width="8000" height="6000"></svg>
        </div>
    </div>
</div>
<div id="memo-panel">
  <div class="memo-header text-end">
    <button type="button" class="btn-close mb-1" aria-label="Close" id="close-memo"></button>

  </div>
  <textarea id="memo-text" class="form-control mb-2" rows="10"></textarea>
  <button id="save-memo" class="btn btn-primary">保存</button>
</div>
