@* /test/code *@
@{
    ViewData["Title"] = "Test: Code";
}

<div id="code-editor" data-test-id="@ViewData["testId"]"></div>

<script type="module" src="~/js/codeOnly.js" asp-append-version="true"></script>